*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vw;
  background-color: #111015; }

a {
  text-decoration: none; }

::placeholder {
  color: #fff;
  font-size: 1.6rem; }

body {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.7px;
  font-size: 1.8rem;
  letter-spacing: 1.5px; }

.heading-primary {
  font-weight: 400;
  text-align: center; }
  .heading-primary--sub {
    font-family: "Great Vibes", cursive;
    color: #c49b63;
    font-size: 2.8rem; }
  .heading-primary--main {
    display: block;
    font-size: 5.2rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.7px; }

.heading-secondary {
  font-weight: 500;
  display: inline-block; }
  .heading-secondary--sub {
    display: block;
    font-family: "Great Vibes", cursive;
    color: #c49b63;
    font-size: 5.2rem; }
  .heading-secondary--main {
    font-weight: 700;
    margin-top: -3rem;
    display: block;
    font-size: 5.2rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.7px; }
  .heading-secondary--right-align {
    text-align: right; }
  .heading-secondary--center {
    text-align: center; }

.heading-tertiary {
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase; }
  .heading-tertiary--white {
    color: #fff; }
  .heading-tertiary--black {
    color: #000; }
  .heading-tertiary--primary {
    color: #c49b63;
    font-size: 3.6rem;
    font-weight: 400; }

.paragraph {
  color: #5e5e5e;
  font-weight: 500;
  line-height: 1.7; }
  .paragraph--white {
    color: #fff; }
  .paragraph--center {
    text-align: center; }
  .paragraph--left {
    text-align: left; }

.booking {
  position: absolute;
  right: 0;
  bottom: -18rem;
  z-index: 1; }
  .booking__form {
    padding: 2.4rem;
    background-color: #c49b63;
    width: 55rem; }
    .booking__form input,
    .booking__form textarea {
      outline: none;
      border: none;
      box-shadow: 0 -0.3px 0 0 #fff inset;
      font-size: 1.6rem;
      padding-bottom: 1.6rem;
      background-color: transparent;
      color: #fff; }
    .booking__form input[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(1); }
    .booking__form input[type="time"]::-webkit-calendar-picker-indicator {
      filter: invert(1); }
  .booking__name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.4rem; }
  .booking__details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem; }
  .booking__cta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.4rem; }

.btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1.6rem 1.6rem;
  text-transform: capitalize;
  text-decoration: none;
  /* Only necessary for .btn */
  cursor: pointer;
  font-family: inherit; }

.btn--brown {
  background-color: #c49b63;
  border: 1px solid #c49b63;
  color: #000;
  transition: all 0.3s; }
  .btn--brown:hover, .btn--brown:active {
    background-color: transparent;
    color: #c49b63; }

.btn--secondary {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.3s; }
  .btn--secondary:hover, .btn--secondary:active {
    border: 1px solid #c49b63;
    background-color: #c49b63;
    color: #000; }

.btn--tertiary {
  background-color: transparent;
  border: 1px solid #c49b63;
  color: #c49b63;
  transition: all 0.3s; }
  .btn--tertiary:hover, .btn--tertiary:active {
    background-color: #c49b63;
    color: #fff; }

.btn--submit {
  padding: 1.6rem 0;
  border: none;
  font-size: 1.6rem;
  transition: all 0.3s; }
  .btn--submit:hover, .btn--submit:active {
    background-color: #000;
    color: #fff; }

.btn--transparent {
  background-color: transparent;
  border-bottom: 1px solid #c49b63;
  color: #c49b63;
  transition: all 0.3s; }
  .btn--transparent:hover, .btn--transparent:active {
    background-color: #c49b63;
    color: #000; }

.btn--active {
  background-color: #c49b63;
  border-bottom: 1px solid #c49b63;
  color: #000; }

.btn-container {
  margin: auto; }
  .btn-container a:not(:last-child) {
    margin-right: 0.8rem; }

.carousel {
  position: relative;
  inset: 0;
  height: 105vh;
  width: 100vw; }
  .carousel ul {
    list-style: none; }
  .carousel__slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out, background 0.5s ease-in-out;
    transition-delay: 0.2s; }
    .carousel__slide--1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg_1.webp); }
    .carousel__slide--2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg_2.webp); }
    .carousel__slide--3 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg_3.webp); }
    .carousel__slide[data-active] {
      opacity: 1;
      z-index: 1;
      transition-delay: 0ms; }
  .carousel__dots {
    z-index: 2;
    position: absolute;
    bottom: 2.4rem;
    left: 50%;
    transform: translateX(-50%); }
  .carousel__dot {
    font-size: 2rem;
    color: #bfbfbf; }
    .carousel__dot--active {
      color: #fff; }

.blog__list li {
  display: flex;
  gap: 2.4rem; }
  .blog__list li img {
    width: 8rem;
    height: 8rem; }
  .blog__list li a:link, .blog__list li a:visited {
    font-size: 1.6rem;
    color: #fff;
    transition: color 0.1s linear; }
  .blog__list li a:hover, .blog__list li a:active {
    color: #c49b63; }
  .blog__list li p {
    display: inline-block;
    color: #5e5e5e;
    font-size: 1.2rem;
    font-weight: 700; }
  .blog__list li svg {
    fill: #5e5e5e;
    height: 1.2rem; }

.questions__list li {
  display: flex;
  gap: 2.4rem; }
  .questions__list li p {
    color: #fff;
    font-size: 1.8rem; }
  .questions__list li ion-icon {
    color: #fff;
    font-size: 6.2rem; }
  .questions__list li ion-icon[name="call"] {
    font-size: 2rem; }

.nav-bar {
  z-index: 100;
  position: absolute;
  top: 2.4rem;
  left: 24rem;
  right: 24rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.4rem;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase; }
  .nav-bar__logo {
    text-align: center;
    font-weight: 500; }
    .nav-bar__logo--1 {
      font-size: 2.4rem;
      letter-spacing: 1.5px; }
    .nav-bar__logo--2 {
      letter-spacing: 5px; }
  .nav-bar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;
    list-style: none;
    gap: 4.8rem;
    align-items: center; }
    .nav-bar__list--link:link, .nav-bar__list--link:visited {
      color: #fff;
      text-decoration: none;
      transition: color 0.3s; }
    .nav-bar__list--link:focus, .nav-bar__list--link:hover, .nav-bar__list--link:active {
      color: #c49b63; }
    .nav-bar__list--cart {
      font-size: 2.4rem; }

.nav-bar__list--link.nav-bar__list--active {
  color: #c49b63; }

.price__img-box--1 {
  width: 24rem;
  height: 24rem; }

.price__img-box--2 {
  width: 34rem;
  height: 26rem; }

.price__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.price__text-box {
  text-align: center; }

.testimonial__card {
  width: 20%;
  display: inline-block;
  padding: 3.2rem;
  background-color: #c49b63; }
  .testimonial__card:not(:last-child) {
    margin-right: -6px; }
  .testimonial__card--dark {
    background-color: #b08b59; }

.testimonial__person-box {
  display: flex;
  gap: 1.6rem; }
  .testimonial__person-box img {
    width: 3.2rem;
    border-radius: 50%; }
  .testimonial__person-box .testimonial__person {
    font-size: 1.2rem;
    color: #fff; }
    .testimonial__person-box .testimonial__person--name {
      font-weight: 500; }
    .testimonial__person-box .testimonial__person--profession {
      display: block;
      margin-top: 0.8rem; }

.about {
  position: relative; }
  .about__img-box {
    background-image: url(../img/about.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 50%;
    height: 66.6rem; }
  .about__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12%, -47%);
    z-index: 1;
    width: 70rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4.8rem 4.8rem; }

.contact__grid {
  width: 54%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .contact__grid--col {
    display: flex;
    gap: 2.4rem; }

.contact__logo {
  font-size: 2.4rem;
  color: #c49b63; }

.container {
  max-width: 114rem;
  margin: 0 auto; }

.counter__icon-box {
  display: inline-block;
  padding: 2.4rem;
  position: relative; }
  .counter__icon-box--border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #c49b63;
    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1), background-color 0.5s linear; }
  .counter__icon-box--icon {
    position: relative;
    height: 4.8rem;
    fill: #c49b63;
    stroke-width: 0px;
    transition: fill 0.5s linear; }
  .counter__icon-box:hover .counter__icon-box--border {
    transform: rotate(135deg);
    background-color: #c49b63;
    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1), background-color 0.5s linear; }
  .counter__icon-box:hover .counter__icon-box--icon {
    fill: #000; }

.counter__container {
  text-align: center; }

.gallery__img {
  position: relative;
  width: 25%;
  height: 30rem;
  background-size: cover;
  background-position: center;
  display: inline-block; }
  .gallery__img:not(:last-child) {
    margin-right: -6px; }
  .gallery__img--1 {
    background-image: url(../img/gallery-1.webp); }
  .gallery__img--2 {
    background-image: url(../img/gallery-2.webp); }
  .gallery__img--3 {
    background-image: url(../img/gallery-3.webp); }
  .gallery__img--4 {
    background-image: url(../img/gallery-4.webp); }

.gallery__logo {
  position: absolute;
  top: 41%;
  left: 44%;
  padding: 1.6rem;
  opacity: 0;
  transition: opacity 0.4s linear; }
  .gallery__logo--border {
    position: absolute;
    inset: 0;
    background-color: #c49b63;
    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1); }
  .gallery__logo ion-icon {
    position: relative;
    font-size: 1.8rem;
    color: #fff;
    --ionicon-stroke-width: 96px; }

.gallery__img:hover .gallery__logo {
  opacity: 1; }

.gallery__img:hover .gallery__logo--border {
  transform: rotate(135deg); }

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 *6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 *6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 *6rem) / 4) + 2 *6rem); }

.header {
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.menu__text-box {
  text-align: right; }

.menu__img {
  height: 23.2rem;
  width: 26.2rem; }
  .menu__img--translate {
    transform: translateY(3.2rem); }

.services {
  text-align: center; }
  .services__icon-box {
    display: inline-block;
    padding: 2.4rem;
    border: 1px solid #000; }
  .services__icon {
    fill: transparent;
    stroke: #000;
    stroke-width: 2rem;
    height: 5.2rem;
    width: 5.6rem; }
    .services__icon--truck {
      transform: skewX(350deg); }

.testimonials__container {
  width: 100%;
  height: 35rem;
  flex-wrap: nowrap; }

.section-contact {
  background-color: #000;
  padding: 2.8rem; }

.section-services {
  background-color: #c49b63;
  padding: 12.8rem 0; }

.section-menu {
  padding: 12.8rem 0; }

.section-counter {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg_2.webp");
  padding: 12.8rem 0;
  background-position: top;
  background-size: cover;
  background-attachment: fixed; }

.section-price {
  padding: 12.8rem 0; }

.section-gallery {
  width: 100vw;
  white-space: nowrap; }

.section-product {
  padding: 12.8rem 0; }

.section-testimonials {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg_1.webp");
  padding: 12.8rem 0;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 0; }

.section-blog {
  margin-top: 8rem;
  padding: 12.8rem 0; }

.footer {
  padding: 12.8rem 0;
  background-color: #000; }

.text-primary-400 {
  color: #c49b63; }

.text-neutral-900 {
  color: #000; }

.text-neutral-500 {
  color: #5e5e5e; }

.text-neutral-100 {
  color: #fff; }

.letter-spacing-primary {
  letter-spacing: 1.7px; }

.letter-spacing-secondary {
  letter-spacing: 1.5px; }

.letter-spacing-tertiary {
  letter-spacing: 5px; }

.bg-primary-400 {
  background-color: #c49b63; }

.bg-neutral-900 {
  background-color: #000; }

.bg-neutral-500 {
  background-color: #5e5e5e; }

.bg-neutral-100 {
  background-color: #fff; }

/* FONT WEIGHTS */
.fw-700 {
  font-weight: 700; }

.fw-600 {
  font-weight: 600; }

.fw-500 {
  font-weight: 500; }

.fw-400 {
  font-weight: 400; }

.fw-300 {
  font-weight: 300; }

.fw-200 {
  font-weight: 200; }

.fw-100 {
  font-weight: 100; }

/* FONT SIZES */
.fs-primary-heading {
  font-size: 6.2rem; }

.fs-secondary-heading {
  font-size: 5.2rem; }

.fs-tertiary-heading {
  font-size: 2rem; }

.fs-100 {
  font-size: 1.2rem; }

.fs-200 {
  font-size: 1.6rem; }

.fs-300 {
  font-size: 1.8rem; }

.fs-400 {
  font-size: 2rem; }

.fs-500 {
  font-size: 2.4rem; }

.fs-550 {
  font-size: 2.8rem; }

.fs-600 {
  font-size: 5.2rem; }

.fs-700 {
  font-size: 6.2rem; }

/* SPACING */
.mt-1300 {
  margin-top: 24.4rem; }

.mt-1200 {
  margin-top: 18.4rem; }

.mt-1100 {
  margin-top: 15.6rem; }

.mt-1000 {
  margin-top: 12.8rem; }

.mt-900 {
  margin-top: 9.6rem; }

.mt-800 {
  margin-top: 8rem; }

.mt-700 {
  margin-top: 6.4rem; }

.mt-600 {
  margin-top: 4.8rem; }

.mt-500 {
  margin-top: 3.2rem; }

.mt-400 {
  margin-top: 2.4rem; }

.mt-300 {
  margin-top: 1.6rem; }

.mt-200 {
  margin-top: 1.2rem; }

.mt-100 {
  margin-top: 0.8rem; }

.mb-1300 {
  margin-bottom: 24.4rem; }

.mb-1200 {
  margin-bottom: 18.4rem; }

.mb-1100 {
  margin-bottom: 15.6rem; }

.mb-1000 {
  margin-bottom: 12.8rem; }

.mb-900 {
  margin-bottom: 9.6rem; }

.mb-800 {
  margin-bottom: 8rem; }

.mb-700 {
  margin-bottom: 6.4rem; }

.mb-600 {
  margin-bottom: 4.8rem; }

.mb-500 {
  margin-bottom: 3.2rem; }

.mb-400 {
  margin-bottom: 2.4rem; }

.mb-300 {
  margin-bottom: 1.6rem; }

.mb-200 {
  margin-bottom: 1.2rem; }

.mb-100 {
  margin-bottom: 0.8rem; }

.mr-1300 {
  margin-right: 24.4rem; }

.mr-1200 {
  margin-right: 18.4rem; }

.mr-1100 {
  margin-right: 15.6rem; }

.mr-1000 {
  margin-right: 12.8rem; }

.mr-900 {
  margin-right: 9.6rem; }

.mr-800 {
  margin-right: 8rem; }

.mr-700 {
  margin-right: 6.4rem; }

.mr-600 {
  margin-right: 4.8rem; }

.mr-500 {
  margin-right: 3.2rem; }

.mr-400 {
  margin-right: 2.4rem; }

.mr-300 {
  margin-right: 1.6rem; }

.mr-200 {
  margin-right: 1.2rem; }

.mr-100 {
  margin-right: 0.8rem; }

.ml-1300 {
  margin-left: 24.4rem; }

.ml-1200 {
  margin-left: 18.4rem; }

.ml-1100 {
  margin-left: 15.6rem; }

.ml-1000 {
  margin-left: 12.8rem; }

.ml-900 {
  margin-left: 9.6rem; }

.ml-800 {
  margin-left: 8rem; }

.ml-700 {
  margin-left: 6.4rem; }

.ml-600 {
  margin-left: 4.8rem; }

.ml-500 {
  margin-left: 3.2rem; }

.ml-400 {
  margin-left: 2.4rem; }

.ml-300 {
  margin-left: 1.6rem; }

.ml-200 {
  margin-left: 1.2rem; }

.ml-100 {
  margin-left: 0.8rem; }

.my-1300 {
  margin-top: 24.4rem;
  margin-bottom: 24.4rem; }

.my-1200 {
  margin-top: 18.4rem;
  margin-bottom: 18.4rem; }

.my-1100 {
  margin-top: 15.6rem;
  margin-bottom: 15.6rem; }

.my-1000 {
  margin-top: 12.8rem;
  margin-bottom: 12.8rem; }

.my-900 {
  margin-top: 9.6rem;
  margin-bottom: 9.6rem; }

.my-800 {
  margin-top: 8rem;
  margin-bottom: 8rem; }

.my-700 {
  margin-top: 6.4rem;
  margin-bottom: 6.4rem; }

.my-600 {
  margin-top: 4.8rem;
  margin-bottom: 4.8rem; }

.my-500 {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem; }

.my-400 {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem; }

.my-300 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem; }

.my-200 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem; }

.my-100 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem; }

.mx-1300 {
  margin-left: 24.4rem;
  margin-right: 24.4rem; }

.mx-1200 {
  margin-left: 18.4rem;
  margin-right: 18.4rem; }

.mx-1100 {
  margin-left: 15.6rem;
  margin-right: 15.6rem; }

.mx-1000 {
  margin-left: 12.8rem;
  margin-right: 12.8rem; }

.mx-900 {
  margin-left: 9.6rem;
  margin-right: 9.6rem; }

.mx-800 {
  margin-left: 8rem;
  margin-right: 8rem; }

.mx-700 {
  margin-left: 6.4rem;
  margin-right: 6.4rem; }

.mx-600 {
  margin-left: 4.8rem;
  margin-right: 4.8rem; }

.mx-500 {
  margin-left: 3.2rem;
  margin-right: 3.2rem; }

.mx-400 {
  margin-left: 2.4rem;
  margin-right: 2.4rem; }

.mx-300 {
  margin-left: 1.6rem;
  margin-right: 1.6rem; }

.mx-200 {
  margin-left: 1.2rem;
  margin-right: 1.2rem; }

.mx-100 {
  margin-left: 0.8rem;
  margin-right: 0.8rem; }

.pt-1300 {
  padding-top: 24.4rem; }

.pt-1200 {
  padding-top: 18.4rem; }

.pt-1100 {
  padding-top: 15.6rem; }

.pt-1000 {
  padding-top: 12.8rem; }

.pt-900 {
  padding-top: 9.6rem; }

.pt-800 {
  padding-top: 8rem; }

.pt-700 {
  padding-top: 6.4rem; }

.pt-600 {
  padding-top: 4.8rem; }

.pt-500 {
  padding-top: 3.2rem; }

.pt-400 {
  padding-top: 2.4rem; }

.pt-300 {
  padding-top: 1.6rem; }

.pt-200 {
  padding-top: 1.2rem; }

.pt-100 {
  padding-top: 0.8rem; }

.pb-1300 {
  padding-bottom: 24.4rem; }

.pb-1200 {
  padding-bottom: 18.4rem; }

.pb-1100 {
  padding-bottom: 15.6rem; }

.pb-1000 {
  padding-bottom: 12.8rem; }

.pb-900 {
  padding-bottom: 9.6rem; }

.pb-800 {
  padding-bottom: 8rem; }

.pb-700 {
  padding-bottom: 6.4rem; }

.pb-600 {
  padding-bottom: 4.8rem; }

.pb-500 {
  padding-bottom: 3.2rem; }

.pb-400 {
  padding-bottom: 2.4rem; }

.pb-300 {
  padding-bottom: 1.6rem; }

.pb-200 {
  padding-bottom: 1.2rem; }

.pb-100 {
  padding-bottom: 0.8rem; }

.pr-1300 {
  padding-right: 24.4rem; }

.pr-1200 {
  padding-right: 18.4rem; }

.pr-1100 {
  padding-right: 15.6rem; }

.pr-1000 {
  padding-right: 12.8rem; }

.pr-900 {
  padding-right: 9.6rem; }

.pr-800 {
  padding-right: 8rem; }

.pr-700 {
  padding-right: 6.4rem; }

.pr-600 {
  padding-right: 4.8rem; }

.pr-500 {
  padding-right: 3.2rem; }

.pr-400 {
  padding-right: 2.4rem; }

.pr-300 {
  padding-right: 1.6rem; }

.pr-200 {
  padding-right: 1.2rem; }

.pr-100 {
  padding-right: 0.8rem; }

.pl-1300 {
  padding-left: 24.4rem; }

.pl-1200 {
  padding-left: 18.4rem; }

.pl-1100 {
  padding-left: 15.6rem; }

.pl-1000 {
  padding-left: 12.8rem; }

.pl-900 {
  padding-left: 9.6rem; }

.pl-800 {
  padding-left: 8rem; }

.pl-700 {
  padding-left: 6.4rem; }

.pl-600 {
  padding-left: 4.8rem; }

.pl-500 {
  padding-left: 3.2rem; }

.pl-400 {
  padding-left: 2.4rem; }

.pl-300 {
  padding-left: 1.6rem; }

.pl-200 {
  padding-left: 1.2rem; }

.pl-100 {
  padding-left: 0.8rem; }

.py-1300 {
  padding-top: 24.4rem;
  padding-bottom: 24.4rem; }

.py-1200 {
  padding-top: 18.4rem;
  padding-bottom: 18.4rem; }

.py-1100 {
  padding-top: 15.6rem;
  padding-bottom: 15.6rem; }

.py-1000 {
  padding-top: 12.8rem;
  padding-bottom: 12.8rem; }

.py-900 {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem; }

.py-800 {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.py-700 {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem; }

.py-600 {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem; }

.py-500 {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem; }

.py-400 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem; }

.py-300 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem; }

.py-200 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem; }

.py-100 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }

.px-1300 {
  padding-left: 24.4rem;
  padding-right: 24.4rem; }

.px-1200 {
  padding-left: 18.4rem;
  padding-right: 18.4rem; }

.px-1100 {
  padding-left: 15.6rem;
  padding-right: 15.6rem; }

.px-1000 {
  padding-left: 12.8rem;
  padding-right: 12.8rem; }

.px-900 {
  padding-left: 9.6rem;
  padding-right: 9.6rem; }

.px-800 {
  padding-left: 8rem;
  padding-right: 8rem; }

.px-700 {
  padding-left: 6.4rem;
  padding-right: 6.4rem; }

.px-600 {
  padding-left: 4.8rem;
  padding-right: 4.8rem; }

.px-500 {
  padding-left: 3.2rem;
  padding-right: 3.2rem; }

.px-400 {
  padding-left: 2.4rem;
  padding-right: 2.4rem; }

.px-300 {
  padding-left: 1.6rem;
  padding-right: 1.6rem; }

.px-200 {
  padding-left: 1.2rem;
  padding-right: 1.2rem; }

.px-100 {
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.p-1300 {
  padding: 24.4rem; }

.p-1200 {
  padding: 18.4rem; }

.p-1100 {
  padding: 15.6rem; }

.p-1000 {
  padding: 12.8rem; }

.p-900 {
  padding: 9.6rem; }

.p-800 {
  padding: 8rem; }

.p-700 {
  padding: 6.4rem; }

.p-600 {
  padding: 4.8rem; }

.p-500 {
  padding: 3.2rem; }

.p-400 {
  padding: 2.4rem; }

.p-300 {
  padding: 1.6rem; }

.p-200 {
  padding: 1.2rem; }

.p-100 {
  padding: 0.8rem; }

.h-scale {
  transform: scaleY(1.05); }

.container {
  max-width: 126rem;
  margin: 0 auto; }

.even-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center; }

.gap {
  gap: 3.6rem; }

.line-height-md {
  line-height: 1.2; }

.divider {
  position: absolute;
  top: 9.6rem;
  z-index: 2;
  border: 1px solid transparent;
  width: 100%;
  height: 0.3px;
  box-shadow: 0 -0.3px 0 0 #fff inset; }

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.message-logo {
  fill: #5e5e5e;
  width: 16px;
  height: 16px; }

.social-logo {
  color: #fff;
  font-size: 2.8rem;
  padding: 1.2rem;
  background-color: #1e1b1b;
  border-radius: 50%; }

.align-top {
  align-items: start; }
